*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.clearfix() {
  overflow: hidden;
  zoom:1;
  /* & - знак використовується для застосування
  псевдокласів таких як :hover, :first-child, :last-child та інших; */
  &:before{
    content:"";
    display:table;
  }
  &:after{
    content:"";
    display:table;
    clear:both;

  }
}

@color_wi:#5f227a;
@color_wi1:#17c2a4;
@color_wi2:#fff;

.teexxt {
  a ,li{
    text-decoration: none;
    list-style: none;
    display: inline-block; }
}
.liniga{
hr {width: 78px;}
}
.cursor{
  cursor: pointer}

/* -------------------------------------------------------------------*/
.wrapper{
  width: 1100px;
  margin: 0 auto;
}
.header{
  .clearfix();
  padding: 30px 0;
  width: 100%;
  background: @color_wi;
  .menu{
    background:#8c6767;; 
    border-radius: 10px;
    &:hover{
      background:#894b4b;;
    }
  }
.menu1{margin: 0px 278px 0 41px;
}
.menu a{ 
   padding: 5px 10px;
   margin: 0 20px;
   color: #ffffff;
 }
.teexxt ;
.zagolovok{
    font-size: 23px;
    color: @color_wi2;
    width: 520px;
     margin-top: 43px;
   padding: 31px 0;
 }
.for{ margin-top: 100px; 
}
 button{
     width: 294px;
     height: 71px;
     background-color: #eb7d4b;
     .cursor;
     font-size: 25px;
     &:hover{
      background:#b0552c;;
     }
   }
     
}
   /*------------ Другий куб------------ */
.bg{
 .clearfix();
  background:@color_wi1;
  width: 100%;
.zag {
  font-size: 40px;
    color: @color_wi2;}
.liniga;
.pe{color: @color_wi2;}
.constr{margin: 0 40px;}
.fl{
  width: 160px;
  color:@color_wi2 ;}
h2{ color:@color_wi2 ;}
ul{}
.teexxt;
}
   /*---------- Третій куб---------- */
.bg1{
    .clearfix();
  background: #e7f1f8;
  width: 100%;

.hhh2{color:#3c4761;
}
.circle{ margin: 0 35px;
}
.hhh{color: #5d677b;
}
.punct{width: 184px;
}
ul{padding: 30px 0;
}
.liniga;
.teexxt;
}
/*--------------Четвертий куб--------------*/
.bg2{
    .clearfix();
  background: @color_wi2;

.ppp{color: #000000;
}
p{margin-top: 25px;
}
ul{margin-top: 50px;
  padding: 30px 0;
}
.pii{ width: 555px;
}
.procent{ margin: 0 30px;
}
.liniga;
.teexxt;
}
/*---------------------- Пятий куб---------------------*/
.bg3{
    .clearfix();
  background: #ffdd99;
.ab3{ width: 555px;
     height: 55px;
   }
     h1{height: 50px;
     }
.ooo{color: black;
}
.cnop{
  margin: 0 8px;
  background: #ebc985;
 .cursor;
}
.cnop1{
  margin: 0 8px;
  background: @color_wi2;
  .cursor;
}
.cn{
  width: 300px;
    height: 65px;
    background: #17c2a4;
    color: @color_wi2;
    font-size: 18px;
   .cursor;
 }
 form{padding: 30px 0;
 }
.liniga;
.teexxt;
}
/* --------------------------Шостий куб--------------------------*/
.bg4{
    .clearfix();
  background: #d74680;
.col{ color:@color_wi2;
}
.one{
  width: 378px;
  color: @color_wi2;
}
h3{color: @color_wi2;
}
.onne{margin: 0px 96px;
}
.o{ margin-left: 45px;
    margin-top: 100px;
  }
.o1{margin-left: 200px;
}
ul{padding: 30px 0;
}
.liniga;
.teexxt;
}
/*---------------------------- Сьомий куб----------------------------*/
.bg5{
    .clearfix();
   background: #3c5499;
  h1, p{color: @color_wi2
  }
input,textarea{ color: @color_wi2
}
textarea{font-size: 70px;
}
h1{ height: 50px;
}
p{height: 30px;
}
.inp{
    width: 415px;
    height: 55px;
    background: #273a71;
    font-size: 31px;
  }
.texttt{
    margin: 19px;
    height: 288px;
    width: 834px;
    background: #273a71;
  }
 button{font-size: 25px;
 }
.butt{
    width: 295px;
    height: 70px;
    background: #30bae7;
    color: @color_wi2;
    .cursor;
    &:hover{
      background:red;
      }}
form{padding: 10px 0;}
.liniga;
.teexxt;
 }
/*----------------Футер--------------------*/ 
.footer{
    .clearfix();
  background: #344b8e;
 a{
  color: @color_wi2;
  text-decoration: none;
  margin: 0 25px;
  font-size: 30px;}

.liniga;
.teexxt;
 li{
  &:hover{background: red;}
 }}
